// import styling here
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #2c3e50;
  font-family: 'Open Sans', sans-serif;
}

body {
  overflow: hidden;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #4373a4;
}

// dark mode class
.is-dark-mode-bg {
  background-color: #f1c40f;
}

.is-dark-mode-text {
  color: #f1c40f;
}
